body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #682B8D;
}

form {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 40px blue;
    width: 100%;
    max-width: 600px;
}

label {
    font-weight: bold;
}

textarea {
    width: 98%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid blue;
    font-family: 'Courier New', Courier, monospace;
}

input[type="submit"] {
    background-color: #333;
    color: darkgreen;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover

button#copy {
    background-color: #333; color: darkgreen; border: none; padding: 10px 20px; border-radius: 50px; cursor: pointer; font-size: 16px; margin-top: 10px; background-image: linear-gradient(to right, #333, #000); box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
